<footer>
    <p>Todos os direitos resevados para YAGO GUIMARAES &copy; </p> <br>
    <p>  Dados retirados de <a target="_blank" href="https://www.pokemon.com/br/pokedex/">Pokédex</a></p> <br>
</footer>